<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @name.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @name.lname %>
</p>

<%= link_to 'Edit', edit_name_path(@name) %> |
<%= link_to 'Back', names_path %>
